.regis{
  width: 100%;
  height: 100vh;
  /* background-image: url(/assets/register-bg.jpg); */
  background: rgb(0,0,0);
  background: -moz-linear-gradient(66deg, rgba(0,0,0,1) 45%, rgba(242,242,33,1) 100%);
  background: -webkit-linear-gradient(66deg, rgba(0,0,0,1) 45%, rgba(242,242,33,1) 100%);
  background: linear-gradient(66deg, rgba(0,0,0,1) 45%, rgba(242,242,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#f2f221",GradientType=1);
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
  
  .container {
    width: 30rem;
    padding: 10px;
    text-align: center;
    background-color: #222;
    border-radius: 10%;
    border:2px #888 solid;
    box-sizing: border-box;
  } 

  .bglogin { 
    width: 50px;
    height: 50px;
    display: inline-table;
    /* border: 1px red solid */
  }
  
  .input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 350px;
    border-radius: 3px;
    font-family: 'Poppins';
    font-style: normal;
    padding: 10px 15px;
    margin: 20px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300px;
    border: 1px #888 solid
  }
  
  .btnLogin {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 10px;
    color: #0f0c29;
    width: 370px;
    font-size: 18px;
    margin: 20px auto;
  }
  
  .inputPassword {
    display: inline-block;
  }
  
  .seePassword {
    position: absolute;
    margin-left: 12px;
  }

  .text {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 200px;
    font-size: 16px;
    line-height: 208.5%;
    color: rgb(242, 242, 33);
    align-items: center;
    margin-bottom : 30px;
  }

  .btnRegist {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 33);
    border-radius: 28px;
    font-family: "Source Sans Pro", sans-serif;
    color: #222;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btnRegist:hover {
    background-color: white;
    text-decoration: none;
    color: black;
  }