.regis{
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 200;
  height: 100vh;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(66deg, rgba(0,0,0,1) 45%, rgba(242,242,33,1) 100%);
  background: -webkit-linear-gradient(66deg, rgba(0,0,0,1) 45%, rgba(242,242,33,1) 100%);
  background: linear-gradient(66deg, rgba(0,0,0,1) 45%, rgba(242,242,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#f2f221",GradientType=1);
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container {
  width: 27rem;
  padding: 10px;
  text-align: center;
  background-color: #222;
  border-radius: 10%;
  border:3px #888 solid;
  box-sizing: border-box;
}

.container h1 {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 26px;
}

.input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 350px;
  border-radius: 3px;
  font-family: 'Poppins';
  font-style: normal;
  padding: 10px 15px;
  margin: 0 auto 20px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 100;
  box-sizing: border-box;
}

.button {
  appearance: none;
  font-family: 'Poppins';
  font-style: normal;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #0f0c29;
  border-radius: 3px;
  width: 320px;
  font-size: 18px;
}
.button:hover {
  appearance: none;
  outline: 0;
  background-color: rgb(242, 242, 33);
  border: 0;
  padding: 10px 15px;
  color: #0f0c29;
  border-radius: 3px;
  width: 320px;
  font-size: 18px;
}

.see-password {
  position: absolute;
  margin-left: 12px;
}

.h6{
  font-family: 'Poppins';
  font-style: normal;
  margin-top: 20px;
  color: rgb(242, 242, 33);
}


.h6 a:hover{
  color: #999;
  text-decoration: none;
}